.canvas {
  position: relative;
  user-select: none;
  display: grid;
  grid-gap: 1px;

  div {
    box-sizing: border-box
  }
}

.i-button {
  outline: none;
  margin: 15px;
}

.s-button {
  outline: none;
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  margin: 1px;
  border-radius: 5px;
  width: 200px;

  &::after {

  }
}
