<div class="flex-center">
  <div>
    <div
      class="canvas"
      *ngIf="(canvas$ | async) as canvas"
      (mousedown)="active = true"
      (mouseup)="active = false"
      [style.grid-template-columns]="getCanvasMarkup()"
      [style.grid-auto-rows]="getPixelSize()"
    >
      <div
        *ngFor="let pixel of canvas; let i = index"
        [style.background-color]="getColor(pixel)"
        (mousemove)="active && draw(i)"
        (mousedown)="draw(i)"
      ></div>
    </div>
  </div>

  <div>
    <div *ngFor="let result of results; let i = index">{{i}} : {{result}}</div>
  </div>
</div>

<div [className]="'buttons-wrapper'">
  <div><app-button [text]="'Pencil'" [selected]="!eraser" [onClick]="setPencil.bind(this)"></app-button></div>
  <div><app-button [text]="'Eraser'" [selected]="eraser" [onClick]="setEraser.bind(this)"></app-button></div>
  <div><app-button [text]="'Clear'" [onClick]="clear.bind(this)"></app-button></div>
  <div><app-button [text]="'Study'" [onClick]="clear.bind(this)"></app-button></div>
</div>
