<div class="flex-center">
  <div>
    <div
      class="canvas"
      *ngIf="(canvas$ | async) as canvas"
      (mousedown)="active = true"
      (mouseup)="active = false"
      [style.grid-template-columns]="getCanvasMarkup()"
      [style.grid-auto-rows]="getPixelSize()"
    >
      <div
        *ngFor="let pixel of canvas; let i = index"
        [style.background-color]="getColor(pixel)"
        (mousemove)="active && draw(i)"
      ></div>
    </div>
  </div>

  <div>
    <div *ngFor="let result of results; let i = index">{{i}} : {{result}}</div>
  </div>
</div>

<div class="flex-center">
  <button class="i-button"><img ngSrc="assets/images/pencil.svg" width="30" height="30" alt="Pencil" /></button>
  <button class="i-button"><img ngSrc="assets/images/eraser.svg" width="30" height="30" alt="Eraser" /></button>
</div>

<div style="position: absolute; top: 8px">
  <div><app-button [text]="'Clear'" [onClick]="clear.bind(this)"></app-button></div>
  <div><app-button [text]="'Button 1'" [onClick]="log"></app-button></div>
  <div><app-button [text]="'Button 1'" [onClick]="log"></app-button></div>
  <div><app-button [text]="'Button 1'" [onClick]="log"></app-button></div>
  <div><app-button [text]="'Button 1'" [onClick]="log"></app-button></div>
</div>

<div class="flex-center">
  <div>
    <div (click)="study()">Study</div>
    <form *ngIf="(canvas$ | async) as canvas" [formGroup]="formGroup" (ngSubmit)="formSubmit(canvas)">
      <input formControlName="digit">
      <input formControlName="variant">
      <button type="submit">Apply</button>
    </form>
  </div>
</div>
